<div ng-controller="homeController">
<div id="main_wrapper">
  <div class="landing_main"> 
    <!-- header -->
    <header id="headtop">
      <div class="container">
        <a id="mobilemenu" class="mobshow">Menu</a><div class="header_logo_nav_main">
          <div class="header_logo"> <a href="javascript:;"> <img src="images/index_logo.png" /> </a> </div>
          <div class="navigation_main">
            <ul>
              <li> <a href="#/Home" ng-click="goto('/Home')"> HEM </a> </li>
              <li> <a href="#/Howitwork" ng-click="goto('/Howitwork')" class="active" > SÅ FUNKAR DET </a> </li>
              <li> <a href="#/Help" ng-click="goto('/Help')"> HJÄLP </a> </li>
              <li> <a href="#/Map" ng-click="goto('/Map')"> OM BOSTADSRÄTTAPPEN </a> </li>
            </ul>
          </div>
        </div>
        <div class="header_login_main">
          <p> För styrelsen... </p>
          <div class="header_login_buttons">
            <a class="header_login" href="/housingadmin2" > LOGGA IN </a>
            <div class="header_registor" ng-click="goto('/sign-up')"> ANSLUT </a>
          </div>
        </div>
      </div>
    </header>
    <div class="clear"></div>
    <!-- header --> 
    
    <!-- how it works -->
    <div class="how_it_works_main">
      <h2>Det är <span>enkelt</span> och snabbt att göra er förening tillgänglig i appen.</h2>
      <div class="how_it_works_steps_images">
        <ul>
          <li>
            <div class="how_it_works_step_one"> <img src="images/how_it_works_image_2.png" /> </div>
            <h3>1</h3>
            <h3>TIPSA DIN STYRELSE</h3>
            <h2> Informera styrelsen om denna hemsida och be dem fylla i anslutningsforumläret. </h2>
          </li>
          <li>
            <div class="how_it_works_step_one"> <img src="images/mainlock.png" /> </div>
            <h3>2</h3>
            <h3>LÖSENORD</h3>
            <h2> Din styrelsen kommer att ge ut erat lösenord. </h2>
          </li>
          <li>
            <div class="how_it_works_step_one"> <img src="images/how_it_works_image_3.png" /> </div>
            <h3>3</h3>
            <h3>LADDA NER APPEN </h3>
            <h2> Finns tillgänglig för Android och iPhone. </h2>
          </li>
          <li>
            <div class="how_it_works_step_one"> <img src="images/how_it_works_image_4.png" /> </div>
            <h3>4</h3>
            <h3>IGÅNG!</h3>
            <h2> Du har nu koll på ditt boende på ett smidigt och modern sätt. </h2>
          </li>
        </ul>
        <div class="clear"></div>
        <div class="how_it_works_steps_line"> <img src="images/how_it_works_line_1.png" /> </div>
        <!-- <ul>
          <li>
            <h3>TIPSA DIN STYRELSE</h3>
            <h2> Informera styrelsen om denna hemsida och be dem fylla i anslutningsforumläret. </h2>
          </li>
          <li>
            <h3>LÖSENORD</h3>
            <h2> Din styrelsen kommer att ge ut erat lösenord. </h2>
          </li>
          <li>
            <h3>LADDA NER APPEN </h3>
            <h2> Finns tillgänglig för Android och iPhone. </h2>
          </li>
          <li>
            <h3>IGÅNG!</h3>
            <h2> Du har nu koll på ditt boende på ett smidigt och modern sätt. </h2>
          </li>
        </ul> -->
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <!-- how it works --> 
    
    <!-- footer -->
    <div class="footer_main">
      <div class="container">
        <div class="footer_menu">
          <ul>
            <li> <a href="#/Home" ng-click="goto('/Home')"> Hem </a> </li>
            <li> &frasl; </li>
            <li> <a href="#/Howitwork" ng-click="goto('/Howitwork')" class="active"> Så Funkar Det </a> </li>
            <li> &frasl; </li>
            <li> <a href="#/Help" ng-click="goto('/Help')"> Hjälp </a> </li>
            <li> &frasl; </li>
            <li> <a > Om Bostadsrättappen </a> </li>
            <li> &frasl; </li>
            <li><a href="/housingadmin2" > LOGGA IN </a></li>
            <li> &frasl; </li>
            <li> <a ng-click="goto('/Thanks')"> Anslut </a> </li>
          </ul>
          <div class="footer_menu2">
          <ul>
            <li> <a ng-click="goto('/privacy-policy')" > Integritetspolicy </a> </li>
            <li> <a ng-click="goto('/sitemap')" > Sitemap </a> </li>
          </ul>
        </div>
        </div>
        <div class="contact_us">
          <h2> Kontakta Oss </h2>
          <div class="contact_us_icon"></div>
        </div>
        
        <div class="clear"></div>
        <div class="footer_line"></div>
        <div class="footer_copy_right_text"> Copyright © 2014 av Bostadsrättappen. Alla rättigheter förbehållna. </div>
        <div id="go_to_top"> <a href="#"> <img src="images/go_to_top.png" /> </a> </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- footer --> 
  </div>
  <div class="clear"></div>
</div>
</div>
