    
     
     
     <div class="container bar">
     <div class="col-md-4"><h1>HOME - ARTIST</h1> </div>
       <div class="col-md-4 pull-right">
        <input type="text" class="form-control" placeholder="Search">
       </div>          
     </div>

     <div class="container ABC">
      <ul class="pagination">        
        <li><a href="#">A</a></li>
        <li><a href="#">B</a></li>
        <li><a href="#">C</a></li>
        <li><a href="#">D</a></li>
        <li><a href="#">E</a></li>
        <li><a href="#">F</a></li>
        <li><a href="#">G</a></li>
        <li><a href="#">H</a></li>
        <li><a href="#">I</a></li>
        <li><a href="#">J</a></li>
        <li><a href="#">K</a></li>
        <li><a href="#">L</a></li>
        <li><a href="#">M</a></li>
        <li><a href="#">N</a></li>
        <li><a href="#">O</a></li>
        <li><a href="#">P</a></li>
        <li><a href="#">Q</a></li>
        <li><a href="#">R</a></li>
        <li><a href="#">S</a></li>
        <li><a href="#">T</a></li>
        <li><a href="#">U</a></li>
        <li><a href="#">V</a></li>
        <li><a href="#">W</a></li>
        <li><a href="#">X</a></li>
        <li><a href="#">Y</a></li>
        <li><a href="#">Z</a></li>      
      </ul>
      </div>
      <!-- images -->
      <div class="container ABC">   
        <div class="row " >

          <div class="col-md-3">
            <ul style="list-style:none;" id="artistList">
              <li ng-repeat="artist in artistdetail"> <a ng-click="artistwork(artist.id, artist.fname )">{{artist.fname}}</a></li>
            </ul>
          </div> 
          <div class="col-md-9">
            <div id="artistartwork">
                <h2  style="font-family: 'source_sans_prosemibold';font-size: 40px;margin-top: 10px;"> {{artistname}}</h2>
              <ul class="row" style="list-style:none;" >
               <li ng-repeat="artwork in artworks" class="col-md-4" style="border:4px;">
                
               </li>
             </ul>  
             <div class="imgWrap">
             <img src="images/img-7.jpg">
             <img src="images/Eng Siak Loy.jpg" class="imgDescription">
             </div>
          </div>
          </div>
                
          
        </div>

        <hr>



        <div class="row row-3">
        <div class="col-md-12">
            <h2>Related Artworks</h2>
          </div>  
          <div class="col-sm-6 col-md-4">
              <img src="images/r-1.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
                <h6>Painting : Canvas 56 x 56</h6>  
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/r-2.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
                <h6>Painting : Canvas 56 x 56</h6>  
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/r-3.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
               <h6>Painting : Canvas 56 x 56</h6>  
              </div>
          </div>
        </div>
      </div>  

      
