
     
     <div class="clearfix"></div>
     <div class="container bar">
     <div class="col-md-4"><h1>HOME - ARTWORK</h1> </div>
       <div class="col-md-4 pull-right">
        <input type="text" class="form-control" placeholder="Search">
       </div>          
     </div>

  <div class="container ABC" ng-repeat="artwork in artwork">   
    <div class="row"> 
          <div class="col-sm-6 col-md-4">
                  <img src="images/img-1.jpg">
            <div class="caption" >
                    <h3>Artist : {{artwork.name}}</h3>
            </div>
        
    </div>
  </div>
      <!-- images -->
      <!--
      <div class="container ABC">   
        <div class="row">
          <div class="col-sm-6 col-md-4">
              <img src="images/img-1.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/img-2.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/img-3.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
        </div>

        <div class="row row-2">
          <div class="col-sm-6 col-md-4">
              <img src="images/img-9.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/img-10.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/img-8.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
        </div>


        <div class="row row-4">
          <div class="col-sm-6 col-md-4">
              <img src="images/img-6.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/img-7.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="images/img-8.jpg">
              <div class="caption">
                <h3>Artist : Wang Mo Ping</h3>
              </div>
          </div>
        </div>
      </div>    -->