<ion-view title="Dashboard" >	
  <ion-content class="bgreen">
  		<div style="height: 60px;padding-left: 10px;padding-top: 20px;background:#fff; margin-bottom:-1px;">
			<a back-button><i class="ion-chevron-left green fontsize64"></i></a>
		</div>  

	  	<div class="row bgwhite" id="ass_logo">
			<img src="{{association_details.logo}}" alt="" style="margin:0 auto;" />				
		</div>
		<!-- News list  -->
		{{asssociationID}}

		<ion-list id="newsfeed">
		  <ion-item ng-repeat="news in newsfeed" class="row">
		  	<div class="col col-20"><img src="{{news.image}}" alt="" /></div>
		  	<div class="col">
			  	<span> {{news.date | date:'EEEE dd MMMM yyyy' }}</span><br/>
			    <div class="title">{{news.title}}</div>
			    <p ng-click="showFullDesc( $event )" >{{news.description}}<i class="icon ion-chevron-right"></i></p>
			</div>    
		  </ion-item>
		</ion-list>
    
  </ion-content>
</ion-view>
