<ion-view title="Thank you" >	
  <ion-content class="bgreen">
  		<div style="height: 60px;padding-left: 10px;padding-top: 20px;background:#fff; margin-bottom:-1px;">
			<a back-button><i class="ion-chevron-left green fontsize64"></i></a>
		</div>  

	  	<div class="row bgwhite" id="ass_logo">
			<img src="{{association_details.logo}}" alt="" style="margin:0 auto;" />				
		</div>
		
		<div class="list card" align="center">
			<div class="item bgreen">
			   <img ng-src="img/general_descripetion_cloud_icon.png" alt="" />
			  </div>	
		  <div class="item item-text-wrap bgreen">
		  	
		  	Tack!<br/>
			Tack för att ni ansökt om att ansluta er förening till bostadsrättappen. Vi kommer att skicka information till den angivna emailadressen inom 7 dagar. Så fort betalningen är klar lägger vi in er förening i appen och skickar ett adminlösenord. Via erat konto skapar ni det lösenord era medlemmar behöver för att logga in på er förenings sida i appen.    
		  </div>
		  <a class="item item-icon-left assertive bgreen" href="#/tab/dash">
		    <i class="icon ion-music-note"></i>
		    Go to Dashboard
		  </a>
		</div>
    
  </ion-content>
</ion-view>
