<ion-view title="Account">
  <ion-content id="contactList">
    <div style="height: 60px;padding-left: 10px;padding-top: 20px;background:#fff; margin-bottom:-1px;">
		<a back-button><i class="ion-chevron-left green fontsize64"></i></a>
	</div>
	<div class="row bgwhite" id="ass_logo">
		<img src="{{association_details.logo}}" alt="" style="margin:0 auto;" />				
	</div>    	
        
    <ion-list show-reorder="shouldShowReorder" >
      <ion-item ng-repeat="friend in friends" class="item-icon-right" type="item-text-wrap" href="">
        {{friend.contact_type}}
        <i class="icon ion-chevron-right"></i>
        </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
