<div ng-controller="homeController">
<div id="main_wrapper">
  <div class="landing_main"> 
    <!-- header -->
    <header id="headtop">
      <div class="container">
        <a id="mobilemenu" class="mobshow">Menu</a><div class="header_logo_nav_main">
          <div class="header_logo"> <a href="javascript:;"> <img src="images/index_logo.png" /> </a> </div>
          <div class="navigation_main">
            <ul>
              <li> <a href="#/Home" ng-click="goto('/Home')"> HEM </a> </li>
              <li> <a href="#/Howitwork" ng-click="goto('/Howitwork')"> SÅ FUNKAR DET </a> </li>
              <li> <a href="#/Help" ng-click="goto('/Help')"> HJÄLP </a> </li>
              <li> <a href="#/Map" ng-click="goto('/Map')"> OM BOSTADSRÄTTAPPEN </a> </li>
            </ul>
          </div>
        </div>
        <div class="header_login_main">
          <p> För styrelsen... </p>
          <div class="header_login_buttons">
            <a class="header_login" href="/housingadmin2" > LOGGA IN </a>
            <div class="header_registor" ng-click="goto('/sign-up')"> ANSLUT </a>
          </div>
        </div>
      </div>
    </header>
    <div class="clear"></div>
    <!-- header --> 
    
    <!-- map -->
    <div id="thankyou_main" class="tophead">
      <div class="container">
        Coming Soon
      </div>
    </div>
    <div class="clear"></div>
    <!-- map --> 
    
    <!-- footer -->
    <div class="footer_main">
      <div class="container">
        <div class="footer_menu">
          <ul>
            <li> <a href="#/Home" ng-click="goto('/Home')"> Hem </a> </li>
            <li> &frasl; </li>
            <li> <a href="#/Howitwork" ng-click="goto('/Howitwork')"> Så Funkar Det </a> </li>
            <li> &frasl; </li>
            <li> <a href="#/Help" ng-click="goto('/Help')"> Hjälp </a> </li>
            <li> &frasl; </li>
            <li> <a href="#"> Om Bostadsrättappen </a> </li>
            <li> &frasl; </li>
            <li><a href="/housingadmin2" > LOGGA IN </a></li>
            <li> &frasl; </li>
            <li> <a ng-click="goto('/Thanks')" > Anslut </a> </li>
          </ul>
          <div class="footer_menu2">
            <ul>
              <li> <a ng-click="goto('/privacy-policy')" class="active" > Integritetspolicy </a> </li>
              <li> <a ng-click="goto('/sitemap')" > Sitemap </a> </li>
            </ul>
          </div>
        </div>
        <div class="contact_us">
          <h2> Kontakta Oss </h2>
          <div class="contact_us_icon"></div>
        </div>
        
        <div class="clear"></div>
        <div class="footer_line"></div>
        <div class="footer_copy_right_text"> Copyright © 2014 av Bostadsrättappen. Alla rättigheter förbehållna. </div>
        <div id="go_to_top"> <a href="#"> <img src="images/go_to_top.png" /> </a> </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- footer --> 
  </div>
  <div class="clear"></div>
</div>
</div>
