
    <h2 class="table_heading">Add New Municipality</h2>
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading"> </div>
        <form role="form" class="form-horizontal form-groups-bordered">
	<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Municipality Name</label>
						
						<div class="col-sm-5">
							<input type="text" class="form-control" id="field-1" placeholder="Enter Municipality name" ng-model='mun.mun_name'>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label">Select state from List</label>
						
						<div class="col-sm-5">
							 <select ng-model="selectedItem" class="form-control"
          ng-options="item as item.state_name for item in states" ></select>
						</div>
						</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5">
							<button type="submit" class="btn btn_back" ng-click='AddMunicipality()'>Add Municipality</button>
						</div>
					</div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    	
    </div>
    <!-- Footer --> 
  </div>
  <div id="chat" class="fixed" data-current-user="Art Ramadani" data-order-by-status="1" data-max-chat-history="25">
    <div class="chat-inner"> </div>
    <!-- conversation template -->
    <div class="chat-conversation">
      <ul class="conversation-body">
      </ul>
    </div>
  </div>
  <!-- Chat Histories --> 
  <!-- Chat Histories --> 
</div>
<!-- Sample Modal (Default skin) -->
<div class="modal fade" id="sample-modal-dialog-1">
  <div class="modal-dialog">
    <div class="modal-content"> </div>
  </div>
</div>
<!-- Sample Modal (Skin inverted) -->
<div class="modal invert fade" id="sample-modal-dialog-2">
  <div class="modal-dialog">
    <div class="modal-content"> </div>
  </div>
</div>
<!-- Sample Modal (Skin gray) -->
<div class="modal gray fade" id="sample-modal-dialog-3">
  <div class="modal-dialog">
    <div class="modal-content"> </div>
  </div>
</div>
</div>
