<div id="bred-crum" >
 			<a href="#/app/konto" >Artist</a> &gt; <a > Add Artwork </a>
 		</div>
	  	<form class="form-horizontal source_sans_prosemibold" id="accountDetailsform">
	  		
			<div class="form-group" >
		  		<label class="col-md-4" >Artist Name :</label>
			  	<div  class="col-md-8" >
			  	<select class="form-control" ng-options="artist as artist.fname for artist in artists" ng-model="selectedartist" ng-change="changeartist( selectedartist.id )" ></select>
			  	</div>
	 		</div>


	  		<div class="form-group" >
		  		<label class="col-md-4" >Artwork Title :</label>
			  	<div  class="col-md-8" >
               <input type="text" class="form-control" id="field-1" placeholder="Artwork Title" ng-model='artwork.title'>
			  	</div>
	 		</div>
	 		<div class="form-group" >
		  		<label class="col-md-4" >Artwork Type :</label>
			  	<div  class="col-md-8" >
                <input type="text" class="form-control" id="field-1" placeholder="Artwork Type" ng-model='artwork.type'>
			  	</div>
	 		</div>
	 		<div class="form-group" >
		  		<label class="col-md-4" >Artwork Size :</label>
			  	<div  class="col-md-8" >
              <input type="text" class="form-control" id="field-1" placeholder="Artwork Size" ng-model='artwork.size'>
			  	</div>
	 		</div>
	 		
	 		
	 			 		
<div class="form-group" >
		 
			  	<div  class="col-md-3 " >
                  <button type="submit" class="btn btn_back" ng-click='addArtwork(artwork)'>ADD</button>
						</div>
	 		</div>
	



	  	</form>
	  	
  </div>