<div id="main_login"   >
	
<form role="form" class="form-horizontal form-groups-bordered login_form">
	<div class="login_inner">
					<a href="/icefire_web" class="login_header"> </a>
	               <!-- <div class="form-group">
						<label for="field-1" class="col-md-3 control-label">Username</label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="field-1" placeholder="Enter username" ng-model="user.username">
						</div>
					</div> -->
						<div class="form-group">
						
							<input  class="login-form-control" id="field-3" placeholder="Email" ng-model="user.email">
						
					</div>
					<div class="form-group">
						
							<input type="password" class="login-form-control" id="field-3" placeholder="Password" ng-model="user.password">
						
					</div>
					
					<div class="form-group">
						
							<button type="submit" class="btn" ng-click="login(user)">Login</button>
						
					</div>
					
				    <div class="form-group1">
				    	<a href="#">Glömt lösenordet?</a>
				    </div>  
	</div>				
				</form>
				<!-- <button type="button" class="btn  btn-success_green loginbtn" ng-click="sendemail()">send email</button> -->
				
	</div>