  		<div class="row row-eq-height">
  			<ul id="submenus" hide-me="account.isMenu" class="col-md-4 off" > 
	  			<li >
	 				<a href="#/app/artist" >Add Artist</a>
				</li>
				<li  >
					 <a href="#/app/artist/addartwork" >Add Art Work</a>
				</li> 
				<li  >
					 <a href="#/app/artist/listartist" >List Artist</a>
				</li>
				<li  >
					 <a href="#/app/artist/artworklist" >List  Artwork</a>
				</li> 
			</ul> 
  	<div class="col-md-9" id="main-content" ui-view>
 		

	  	<div id="bred-crum" >
 			<a href="#/app/konto" >Artist</a> &gt; <a > Add Artist </a>
 		</div>
	  	<form class="form-horizontal source_sans_prosemibold" id="accountDetailsform">
	  		<div class="form-group" >
		  		<label class="col-md-4" >Enter Artist Name :</label>
			  	<div  class="col-md-8" >
		 		
                   <input type="text" class="form-control" id="field-1" placeholder="Enter First name" ng-model='artist.fname' />
			  	</div>
	 		</div>
	 		<div class="form-group" >
		  		<label class="col-md-4" >Location :</label>
			  	<div  class="col-md-8" >
                   <input type="text" class="form-control" id="field-1" placeholder="Location" ng-model='artist.location'>
			  	</div>
	 		</div>
	 		<div class="form-group" >
		  		<label class="col-md-4" >Mobile Number :</label>
			  	<div  class="col-md-8" >
                   <input type="text" class="form-control" id="field-1" placeholder="Mobile No" ng-model='artist.mobileno'>
			  	</div>
	 		</div>
	 		<div class="form-group" >
		  		<label class="col-md-4" >Email Address :</label>
			  	<div  class="col-md-8" >
                   <input type="text" class="form-control" id="field-1" placeholder="Email Address" ng-model='artist.email'>
			  	</div>
	 		</div>
	 		
	 		<div class="form-group" >
		  		<label class="col-md-4" >Artist Description :</label>
			  	<div  class="col-md-8" >
                   <textarea style="width:245px" class="form-control" id="field-1" placeholder="Artist Description" ng-model='artist.artdes'></textarea>
			  	</div>
	 		</div>

			<div class="form-group" >
		  		<label class="col-md-4" >Upload :</label>
			  	<div  class="col-md-8" >
              <img src="" id="associationlogo" />
              <input type="file" id="assologo" file-model="myFile" onchange="angular.element(this).scope().uploadupdatelogo()"  />
			  	</div>
	 		</div>
	 		


	 		
<div class="form-group" >
		 
			  	<div  class="col-md-3 " >
                  <button type="submit" class="btn btn_back" ng-click='addArtist(artist)'>ADD</button>
						</div>
	 		</div>
	



	  	</form>
	  	
  </div>
  
  			</div>
