
          <div class="form-group" ng-if="logo!=''" >
              <label class="col-md-4 noborder" ></label>
              <div  class="col-md-8" >
                <img id="associationlogo" ng-src="logos/{{logo}}" />
              </div>
              <div class="clear"></div>
          </div>  
      	 
  	<div id="bred-crum" >
      <a href="#/app/help" >Hjälp</a> &gt; <a > Kontakta oss </a>
    </div>

<form class="form-horizontal source_sans_prosemibold"  >
<div class="form-group">
  	  	<p style="font-size:15px;margin-left:25px;">Du hittar oftast svar på dina frågor snabbast genom att läsa igenom ’Frågor & Svar’ eller genom att titta igenom de dokument som finns för nedladdning. 

Ifall du ändå har någon fråga når du oss på info@bostadsappen.se. 

Vi försöker svara så snabbt som möjligt men då vi är ett litet företag kan du ibland få vänta några dagar på svar.</p>
</div>
</form>