  	<div class="row row-eq-height">
  		<ul id="submenus" hide-me="addnewsfeed.isMenu" class="col-md-3 off" ng-mouseleave="animatesubmenu()" > 
			<li >
 				<a href="#/app/news/new" >Add collector</a>
 			</li>
			<li >
				<a href="#/app/news/list" >Add collection</a>
			</li>
			<li >
				<a href="#/app/news/listcollector" >List collector</a>
			</li>
		<li >
				<a href="#/app/news/listcollection" >List collection</a>
			</li>
		</ul>

		<div class="col-md-9" id="main-content" ui-view> 
		  	
	 		

			</div>  	
	  	</div>
  	
  	

  
  


	<div id="printSection"></div> 



