  		<div class="form-group" ng-if="logo!=''" >
	  		<label class="col-md-4 noborder" ></label>
		  	<div  class="col-md-8" >
		  		<div id="ass_logo" > <img id="associationlogo" ng-src="logos/{{logo}}" /> </div> 
		  	</div>
		  	<div class="clear"></div>
 		</div>				
	  	
	  	<div id="bred-crum" >
	  		<a ng-click="goto('Konto')" >KONTO</a> > <a >BETALNING</a>
 		</div>
	  	<form class="form-horizontal source_sans_prosemibold" id="accountDetailsform" novalidate name="paymentForm" >
	  		

      <div class="form-group" >
          <label class="col-md-4" >Name</label>
          <div  class="col-md-8" >
              <input type="text" class="form-control" name="firstname" ng-model="orderDetail.firstname" required data-ng-minlength="3"maxlength="19" placeholder="First Name" value="{{orderDetail.firstname}}" />
              <input type="text" class="form-control" name="lastname" ng-model="orderDetail.lastname" required data-ng-minlength="3"maxlength="19" placeholder="Last Name" />
          </div>
      </div>
      <div class="form-group" >
          <label class="col-md-4" >Credit card</label>
          <div  class="col-md-8" >
            <input
              type="text"
              name="creditCard"
              ng-model="orderDetail.number"
              required
              data-credit-card-type
              data-ng-pattern="/^[0-9]+$/"
              data-ng-minlength="15"
              maxlength="19"
              class="form-control"
              placeholder="Card Number" >{{orderDetail.type}} 
            
            <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
              <li ng-show="paymentForm.creditCard.$error.minlength">Credit card must be 15-19 digits</li>
              <li ng-show="paymentForm.creditCard.$error.pattern">Credit card must consist of only numbers</li>
              <li ng-show="paymentForm.creditCard.$error.invalid">Credit card must be a valid Amex, Visa, Discover, or Master Card</li>
              <li ng-show="paymentForm.creditCard.$error.required">Credit card required</li>
            </ul>
          </div>
      </div>
      <div class="form-group" >
          <label class="col-md-4" >CVV Number</label>
          <div  class="col-md-8" >
            <input
              type="text"
              class="form-control"
              name="securityCode"
              ng-model="orderDetail.securityCode"
              placeholder="CCV"
              required
              data-ng-pattern="/^[0-9]+$/"
              data-ng-minlength="3"
              maxlength="4">
            <br/>
            <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
              <li ng-show="paymentForm.securityCode.$error.pattern">Security code must contain only numbers</li>
              <li ng-show="paymentForm.securityCode.$error.minlength">Security code must be 3-4 digits</li>
              <li ng-show="paymentForm.securityCode.$error.required">Security code required</li>
            </ul>
          </div>
      </div>
	 		<div class="form-group" >
          <label class="col-md-4" >Expiry Date</label>
          <div  class="col-md-8" >
            <select ng-model="orderDetail.month" name="month" data-card-expiration required class="form-control">
              <option disabled selected value="">Month</option>
              <option ng-repeat="month in months" value="{{$index+1}}" > {{$index+1}} - {{month}}</option></li>
            </select>
            
            <select ng-model="orderDetail.year" name="year" required class="form-control" >
              <option disabled selected value="">Year</option>
              <option ng-repeat="year in [] | range:currentYear:currentYear+13">{{year}}</option></li>
            </select>
            
            <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
              <li ng-show="paymentForm.month.$error.required">Expiration month required</li>
            </ul>
            
            <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
              <li ng-show="paymentForm.year.$error.required">Expiration year required</li>
              <li ng-show="paymentForm.month.$error.invalid">Provided expiration date is invalid</li>
            </ul>
          </div>
      </div>
      <div id="messages" ng-show="orderDetail.paymessage">{{ orderDetail.paymessage }}</div>
    	<div class="form-group" >
		  	 	<div class="col-md-offset-4 col-md-8">
		  			<a ng-click="paymentForm.submitAttempt=true;save(orderDetail, paymentForm)" ><img src="img/kontopayment.jpg"></a>
            <a ng-click="makepayment( orderDetail )" >Paypal</a>
            <!-- SubTotal: <span id="simpleCart_total" class="simpleCart_total"></span> <br />
  Tax Rate: <span id="simpleCart_taxRate" class="simpleCart_taxRate"></span> <br />
  Tax: <span id="simpleCart_tax" class="simpleCart_tax"></span> <br />
  Shipping: <span id="simpleCart_shipping" class="simpleCart_shipping"></span> <br />
  
  Final Total: <span id="simpleCart_grandTotal" class="simpleCart_grandTotal"></span> <br />

  <a href="javascript:;" class="simpleCart_checkout"  >checkout</a> -->
		  			<!-- <a id="updateaccountDetailsbtn"  class="btn btn_back add-button" ng-click="edit(accountDetails)" >Spara</a> -->
		 			<!-- <div ><img src="img/news_edit.jpg"></div> -->	  			  		
		 		</div>		
		  	</div>	

	  	</form>	  