		<div id="main-content" >
		  	<div class="form-group" ng-if="logo!=''">
		  		<label class="col-md-4 noborder" ></label>
			  	<div  class="col-md-8" >
			  		<img id="associationlogo" ng-src="logos/{{logo}}" />
			  	</div>
			  	<div class="clear"></div>
	 		</div>				
		  		
			<form class="form-horizontal" id="boardcontactform" ng-submit="edit(boardContact)">  	

				<div class="form-group" >
					<div  class=" col-md-offset-1 col-md-9" >
				  		<p>Här anger du den eller de emailadresser som går till styrelsen. Era medlemmar kan enkelt och smidigt skicka frågor, funderingar eller förslag direkt via appen.</p>
				  	</div>
		 		</div>
		 		<div class="form-group" >
			  		<div class="col-md-1" >
			  			<span id="e-icon"></span>
			  		</div>
				  	<div  class="col-md-4" >
				  		<input type="email" class="form-control" ng-model="boardContact.email" value="{{boardContact.email}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email1" value="{{boardContact.email1}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email2" value="{{boardContact.email2}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email3" value="{{boardContact.email3}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email4" value="{{boardContact.email4}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  	</div>
				  	<div  class="col-md-4" >
				  		<input type="email" class="form-control" ng-model="boardContact.email5" value="{{boardContact.email5}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email6" value="{{boardContact.email6}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email7" value="{{boardContact.email7}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email8" value="{{boardContact.email8}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  		<input type="email" class="form-control" ng-model="boardContact.email9" value="{{boardContact.email9}}" disabled placeholder="Ange emailadresser här" autocomplete="off" />
				  	</div>
		 		</div>

		 		<div class="form-group" >
			  	 	<div class="col-md-offset-1 col-md-9">
			  			<a id="editprofilebtn" class="btn-default" ng-click="enableedit()" ><img src="img/news_edit.jpg"></a>
			  			<button id="updateprofilebtn" type="submit" class="btn btn_back add-button" ng-click="" style="display:none" >Spara</button>		 			
			 		</div>		
			  	</div>

			</form>
		</div>	