
      <div id="main-content" ui-view>
          <div class="form-group" ng-if="logo!=''" >
              <label class="col-md-4 noborder" ></label>
              <div  class="col-md-8" >
                <img id="associationlogo" ng-src="logos/{{logo}}" />
              </div>
              <div class="clear"></div>
          </div>  
      	 <div class="row">
          
Användarvillkor

1. Allmänt
a. Dessa allmänna villkor (”Villkoren”) gäller då Icefire AB org. nr 556993-2543, Bergsunds Strand 9, 117 38 Stockholm, e-mail: info@bostadsappen.se (”Icefire”) tillhandahåller kommunikationstjänster via webb eller app (”Tjänsten”) kallad Bostadsrattappen.
b. För att använda Tjänsten måste du (”Administratoren”)vara behörig att ingå avtal åt den bostadsrattforening du foretrader samt acceptera att vara bunden av Villkoren.
c. Genom att använda Tjänsten godkänner och accepterar du Villkoren at den bostadsrattforening du foretrader.
2. Allmänna villkor Bostadsrattförening
a. Tjänsten är en kommunikationstjanst som vänder sig till bostadsrattföreningar. Tjansten administreras pa en hemsida av en representant for bostadsrattforeningen och finns tillganglig for dess medlemmar via appar for nyare versioner av iPhones och Andriodtelefoner. Appen består dels av en publik del och dels en del som bara inloggade medlemmar har tillgång till.
b. För att en bostadsrattförening och dess medlemmar skall kunna få tillgång till tjanster måste Administratoren acceptera Villkoren samt den av Icefire fastställda kostnaden för tjanster, samt för egen del och på medlemmarnas vägnar förbinda sig att följa de allmänna villkoren och Icefires instruktioner. Administratören skall registrera fullständiga personuppgifter d.v.s. namn, adress, personnummer, e-postadress och mobiltelefon. Administratören skall även registrera bostadsrattföreningens fullständiga uppgifter pa tjanstens hemsida.
c. Genom att acceptera villkoren och slutfora betalningen förbinder  Administratören bostadsforeningen och dess medlemmar att följa Icefires allmänna villkor.
d. Administratören garanterar genom att acceptera villkoren, att Medlemmarna endast kommer att använda Webbsidorna för att lämna, sätta upp eller ta emot information som kan vara etisk och i övrigt lämplig för en bostadsrattförening.
e. Icefire har ingen skyldighet att granska eller övervaka innehållet på tjansten.
f. Icefire kan utan föregående meddelande komma att ändra Webbsidans samt Appens layout eller utformning i övrigt, samt lägga till eller ta bort funktioner.
g. Icefire har ingen skyldighet att kostnadsfritt radera eller överföra uppladdat innehåll till någon part. Icefire får ej överlämna uppladdat innehåll till tredje part utan att bostadrattforeningen skriftligen har godkänt detta.
h. Administratören ansvarar för att medlemmarna och deras målsmän informeras om villkoren för användningen av Tjansten.
i. Betalning sker i förskott för en period om 12 månader (365 dagar) räknat från startdatumet av Tjansten. Inbetalda årsavgifter återbetalas ej vid nedläggning av befintligt tjanst eller om tjansten av annan anledning tas bort.
j. Om fakturan inte betalas inom föreskriven tid äger Icefire rätt att stänga Webbsidan för administration och medlemsinloggning.
k. På Föreningens begäran kan det klubbsystem som Föreningen ansvarar för tas bort omedelbart. För att ta bort Webbsidor/undergrupper inom ett klubbsystem klickar Administratören på Ta bort-knappen i grupplistan.
l. Som en förutsättning för att Användarna skall få använda Webbsidorna garanterar Administratören att Användarna inte kommer att använda Webbsidorna i något syfte som strider mot lag, dessa allmänna villkor eller Icefires instruktioner.
m. Dessa allmänna villkor gäller till dess de ändras eller ersätts. Därefter gäller automatiskt de nya villkoren, vilka återfinns publicerade på Webbsidorna under "Allmänna villkor för förening/företag". Det åligger Användarna att regelbundet hålla sig informerade om de villkor och instruktioner som meddelas på Webbsidorna. När de allmänna villkoren ändras meddelas samtliga administratörer inom Icefire via mail. Meddelandet skickas till den epostadress som administratören har registrerat på sin sajt.
3. Allmänna villkor för medlemmarna i bostadsrattforeningen
a. Icefire är en Internet-tjänst som i första hand vänder sig till föreningsgrupper, idrottslag, idrottsföreningar och företag. Webbsidorna består dels av en publik del och dels en del som bara inloggade lagmedlemmar har tillgång till. Genom att acceptera villkoren förbinder sig Medlemmen att följa Icefires allmänna villkor.
b. Medlemmen garanterar genom att acceptera villkoren, att endast använda Webbsidorna för att lämna, sätta upp eller ta emot information som kan vara etisk och i övrigt lämplig för ett idrottslag, förening eller företag.
c. Icefire har ingen skyldighet att granska eller övervaka innehållet på Webbsidorna. Icefire kan utan föregående meddelande komma att ändra Webbsidornas layout eller utformning i övrigt.
d. Äganderätten och upphovsrätten till innehållet på Webbsidorna, samt adressuppgifter tillhör kunden, dvs de som har laddat upp innehållet, eller den part som ansvarig administratör företräder. Icefire AB har ingen skyldighet att kostnadsfritt radera eller överföra uppladdat innehåll till någon part. Icefire AB får ej överlämna uppladdat innehåll till tredje part utan att innehållsägarens skriftligen har godkänt detta.
e. Gruppadministratören ansvarar för att Användarna inom gruppen och deras målsmän informeras om villkoren för användningen av Webbsidorna samt att Användarna och deras målsmän ger sitt samtycke till att personuppgifter, t ex namn, adress och bild med namnangivelse, registreras och behandlas på Webbsidorna.
f. Dessa allmänna villkor gäller till dess de ändras eller ersätts. Därefter gäller automatiskt de nya villkoren, vilka återfinns publicerade på Webbsidorna under "Allmänna villkor". Det åligger Användarna att regelbundet hålla sig informerade om de villkor och instruktioner som meddelas på Webbsidorna.
4. Ovriga villkor 
a. Tjänsten kan innehålla länkar till eller erbjudanden från externa partners som har andra villkor än Icefire. Detta kommer i dessa fall göras tydligt för användaren. Användaren uppmanas att själv sätta sig in i dessa villkor.
b. Icefire ska ha rätt att när som helst ändra Tjänsten, ändra Villkoren eller att sluta tillhandahålla Tjänsten. Icefire skall underrätta användaren vid ändring av Villkoren.
c. Du kan närsomhelst avsluta ditt konto och din användning av Tjänsten. Icefire kommer då att radera samtliga Externa Inloggningsuppgifter och all annan information som kan hänföras till dig.
d. Du ansvarar för att du har rätt att använda Externa inloggningsuppgifter och Informationen i Tjänsten. Du ansvarar även för all användning av dina inloggningsuppgifter till Tjänsten.
5. Tillåten användning
a. Det är inte tillåtet att kopiera, modifiera, distribuera eller publicera innehåll som tillhandahålls av Icefire. För eget personligt bruk är det dock tillåtet att ladda ner, kopiera och spara information från Icefire.
b. Du ansvarar för och garanterar härmed att:
i. Informationen som du laddar upp eller lägger in i Tjänsten inte gör intrång i någon annans rättigheter eller annars står i strid med lag eller annans rätt.
ii. Du har rätt att förfoga över Externa inloggningsuppgifter och Informationen samt har inhämtat erforderliga samtycken i den omfattning som krävs för att använda Tjänsten och för att Icefire ska ha rätt att tillhandahålla dig Tjänsten.
6. Avtalsbrott och ansvar
a. Icefire har rätt att när som helst stänga av en användare och avsluta ett konto om Icefire anser att användaren bryter mot Villkoren eller annars använder Tjänsten på ett sätt som enligt Icefires uppfattning kan orsaka Icefire eller tredje man skada.
b. Icefire har för avsikt att all information i Tjänsten ska vara korrekt och så uppdaterad som möjligt, Icefire kan dock inte garantera tillgängligheten till Tjänsten eller tillförlitligheten eller korrektheten på informationen som finns presenterad i Tjänsten. Icefire kan inte ställas till svars för om Tjänsten ligger nere eller om någon information eller funktionalitet inte fungerar som förväntat.
c. Icefire ska inte ha något ansvar för eventuella ekonomiska beslut du tar baserat på användning av Tjänsten eller för tjänster eller varor du väljer att köpa från fristående tredje man eller Icefires samarbetspartners.
d. Icefire ersätter ej kostnader, varken direkta eller indirekta, som uppkommit i samband med användande av Tjänsten eller till följd av vårdslöshet från Icefires sida.
e. Begränsning av Icefires ansvar enligt detta avsnitt 4 ska inte gälla om Icefire agerat grovt vårdslöst eller orsakat skada genom uppsåtlig handling.
7. Personuppgifter
a. Icefire samlar in och behandlar personuppgifter om dig när du använder Tjänsten.
b. Icefire behandlar dina personuppgifter för att tillhandahålla Tjänsten och fullgöra avtalet med dig.
c. Anonym data kan på aggregerad nivå komma att användas i jämförelsetjänster och i marknadsundersökningar. Icefire har rätt att fritt disponera sådan anonym data.
d. Icefire får under inga omständigheter lämna ut eller på annat sätt publicera identifierbar information om användare.
e. Icefire är personuppgiftsansvariga i enlighet med personuppgiftslagen. En gång per kalenderår har du rätt att, genom en skriftligt undertecknad ansökan, erhålla ett registerutdrag om vilka personuppgifter som finns registrerade om dig.
f. Du kan när som helst avsluta ditt Icefire konto och din användning av Tjänsten. Icefire kommer då att radera samtliga Externa Inloggningsuppgifter och all annan information som kan hänföras till dig.
8. Cookies
9. Webbsidan använder sig av cookies för att fungera korrekt. Cookies används för att Icefire ska kunna mäta trafiken på Webbsidan och för att kunna förbättra upplevelsen för dig som användare. Om du inte accepterar användning av cookies kan du konfigurera din webbläsare att inte acceptera cookies eller välja att inte använda Tjänsten. Om du väljer att ställa in din webbläsare att inte acceptera cookies kan Icefire tyvärr inte garantera att Tjänsten fungerar korrekt.
10. Force majeure
11. Part är inte ansvarig för dröjsmål eller förlust som beror på omständighet som part inte råder över och som väsentligt försvårar uppfyllelsen av förpliktelsen ifråga eller som medför att uppfyllandet av förpliktelsen inte är ekonomiskt försvarbar.
12. Övrigt
a. Icefire har rätt att överlåta sina rättigheter och skyldigheter enligt dessa Villkor. Vidare har Icefire rätt att anlita underleverantörer för fullgörandet av sina skyldigheter.
b. Tvist med anledning av Villkoren eller din användning av Tjänsten ska avgöras enligt svensk lag och av svensk domstol.


         </div>
  	  	
  	  	  
           	
      </div> 
    