/* Empty. Add your own CSS if you like */

@font-face {
	font-family: 'source_sans_prolight';
	src: url('fonts/sourcesanspro-light-webfont.eot');
	src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-light-webfont.woff') format('woff'), url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proextralight';
	src: url('fonts/sourcesanspro-extralight-webfont.eot');
	src: url('fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-extralight-webfont.woff') format('woff'), url('fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proregular';
	src: url('fonts/sourcesanspro-regular-webfont.eot');
	src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_prosemibold';
	src: url('fonts/sourcesanspro-semibold-webfont.eot');
	src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'), url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*----- Fonts end -----*/
body{ font-family: 'source_sans_proregular'; }
.row{ padding: 0px;}
.tabs{ background: #fff; height: auto; font-family: 'source_sans_prosemibold'; border: 0px;}
.tabs .tab-title{ font-family: 'source_sans_proextralight'; }

.tab-item .icon{ width: 40px; height: 40px;  }
.newsTab{ background: url('../img/tabs.png') no-repeat -10px -56px transparent; }
.tab-item-active .newsTab{ background-position: -10px -5px; }
.styTab{ background: url('../img/tabs.png') no-repeat -56px -5px transparent;  }
.tab-item-active .styTab{ background-position: -56px -56px; }
.konTab{ background: url('../img/tabs.png') no-repeat -104px -56px transparent; }
.tab-item-active .konTab{ background-position: -104px -5px; }

#headBack{ margin: 10px 0 0 10px; }

.linka {
  color: #E1EFE1;
  text-align: center;
  font-size: 12px; 
  text-decoration: none;
  }
  
 .whitecolor{
 	color:#FFFFFF ;
 }
 
 .fontsize64{font-size: 21px; }

 .source_sans_proregular{font-size: 12px; font-family:'source_sans_proregular' ; }
.green{ color:#59C0C7 !important; }
.bgreen{ background:#59C0C7; border: 0px;}  
.bgwhite { background: #fff !important; }
.bartitle{ text-align: center;}
.bartitle h1{  color: #fff; margin:0px 0 10px 0; font-family: 'source_sans_prosemibold'; font-size: 30px;}

.bartitle h1:after{ content: ' ';
	background: url('../img/state-circle.svg') no-repeat center center transparent;
	display: block;
	width: 90px;
	height: 90px;
	margin: 0 auto; 	
}
#commutitle:after{ background: url('../img/muncipality-circle.svg') no-repeat center center transparent; }
#assotitle:after{ background: url('../img/housingadmin-circle.svg') no-repeat center center transparent; }

.list-inset{ max-width: 300px; border-radius: 5px; margin: 20px auto; background: transparent;}

#loginform label.item,
#styrelenForm label.item { margin: 15px 0; background: #e1efe1; border-radius:5px; padding: 0px; }
#styrelenForm select{ background: transparent; border: 0px; width: 100%; color: #3f8092; padding: 10px; }  

#loginform input,
#styrelenForm input,
#styrelenForm textarea
{  background: transparent; color: #3f8092; padding: 10px; }

#styrelenForm input:focus,
#styrelenForm textarea:focus{background: #fff; }

.bartitle .kommun:after{ background-position: center center;}
.bartitle .states:after{ background-position: center 0px;}

.ion-chevron-left{ font-size: 34px; color: #fff; }
.ion-chevron-right{ color: #59C0C7; font-size: 20px !important; }
#newsfeed .ion-chevron-right{ color: #FFF; float: right; position: absolute; top: -2px; right: 10px;}
#newsfeed .col-20{ background: url('../img/bar.png') repeat-y 25px center transparent; padding-top: 0px;} 
#newsfeed img{ background: #59c0c7; padding: 10px 0;}
#newsfeed ion-item{ background: #59c0c7; border: 0px; padding-bottom: 20px;}
#newsfeed span{ color: #fff; text-transform: capitalize; font-size: 12px;}
#newsfeed .title { font-weight: 600;
	color: #fff; margin: 7px 0;
	font-size: 21px; text-transform: capitalize; font-family: 'source_sans_prosemibold'; }
#newsfeed p{ height:18px; 
	padding-right: 30px; color: #fff;
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all; 
	white-space: pre-line;
	position: relative; font-size: 16px;
}
#newsfeed p.on{ height: auto; padding-bottom: 15px; }

#build{ } 
#sticka{
background-color: #f4d6be;
font-family: 'source_sans_prosemibold';
box-shadow: 5px 5px 0 #3f8092;
margin-right: 5px;
font-size: 14px;
color: #3f8092;
padding: 10px 10px;
max-width: 238px;
float: right;
border: 1px solid transparent;
border-radius: 4px;
}

.item .item-content.activated{ background:#59C0C7; color: #fff; }

#goList ion-item{ font-family: 'source_sans_prosemibold'}
#goList ion-item,
#contactList ion-item{ color:#59C0C7; }

select.ng-invalid-required,
textarea.ng-invalid-required,
input.ng-invalid-email,
input.ng-invalid-required{ border: 0px !important; border-radius: 5px;}