<div ng-controller="housingcontroller">
	<side-menus>
		<pane side-menu-content>
			
		<ion-header-bar class="bar bar-header bar-gray" >
			<div class="nav">
				 <div class="nav_left">
				 	<a ng-click="backNevigation()">
					    <div class="menu_icon">
					    	<img src="img/back_arow.png" />
					    </div>
					</a>
				   </div>
				<div class="nav_right">
				     <div class="nav_cart_btn" ng-click="openRightMenu()" >
				     	<img src="img/menu.png"/>
				     </div>
			   </div>

			</div>
		  	  <h1 class="title" style="color:#FFFFFF">Bostadsrattsforening<br /> <img class="header_image" src="img/housing.png" height="50px" width="50px"></h1>
		</ion-header-bar>
		
		
		<content has-header="true">
			 <a ng-click="gotologin(housing)" class="item" ng-repeat="housing in housingass"> 
				{{housing.housing_ass_name}}
			</a>
		 </content>
		 
		</pane>
		
	<!-- menue page start -->
		<side-menu side="right" ng-controller="menuController">
		<ion-header-bar class="bar bar-header-menu bar-gray-menu" >	  			  
		   </ion-header-bar>
			  <div id="main_wrapper">
  <div class="menu_wrapper">
    <div class="news_feed_top"></div>
    <div class="menu_main">
      <div class="menu_top">
        <ul>
          <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_home.png" /> </div>
            <div class="home_text"> Hem </div>
          </li>
          <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_state.png" /> </div>
            <div class="home_text"> Län </div>
          </li>
          <li ng-click="goto('/Municipality/{{munId}}')">
            <div class="home_icon"> <img src="img/menu_municipality.png" /> </div>
            <div class="home_text"> Kommun </div>
          </li>
          <!-- <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_housing.png" /> </div>
            <div class="home_text"> Bostadsrättsförening </div>
          </li>
          <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_login.png" /> </div>
            <div class="home_text"> Logga In </div>
          </li ng-click="goto('State')"> 
        </ul>
      </div>
      <div class="clear"></div>
      <div class="menu_bottom">
        <ul>
          <li ng-click="goto()">
            <div class="home_icon"> <img src="img/menu_news.png" /> </div>
            <div class="home_text"> Nyheter </div>
          </li>
          <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_board.png" /> </div>
            <div class="home_text"> Styrelsen </div>
          </li>
          <li ng-click="goto('')">
            <div class="home_icon"> <img src="img/menu_contact.png" /> </div>
            <div class="home_text"> Kontakter </div>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>	    
		  
		</side-menu>
		<!-- menue page end -->
		
	</side-menus> 
</div>