<div ng-controller="">
<div id="main_wrapper">
  <div class="login_wrapper">
    <div class="lock_icon"> <img src="images/lock_icon.png" /> </div>
    <div class="ha_name_label">
      <p> Lösenord<span>? </span> </p>
    </div>
    <div class="ha_login_successfull_text">
      <p class="ha_login_p1">För att din bostadsrättsförening ska vara tillgänglig så måste din styrelse ansluta föreningen till appen.</p>
      <p class="ha_login_p2">Tipsa din styrelse idag så kan du vara igång om några dagar. Lösenordet får du och de andra i huset direkt från styrelsen.</p>
      <p class="ha_url"> <a href="http://www.bostadsrättappen.se">www.bostadsrättappen.se</a></p>
    </div>
  </div>
  <div class="clear"></div>
</div>
</div>

