
<div ng-controller="SubmitController">
	<side-menus>
		<pane side-menu-content>
		<ion-header-bar class="bar newsfeed_header bar-gray-housing" >
			<div class="nav">
			<div class="nav_left">				
				<a ng-click="backNevigation()">
				    <div class="menu_icon"> 
				    	<img src="img/blue_back_button.png" />
				    </div>
				</a> 
			   </div>
			<div class="nav_right">
			     <div class="nav_cart_btn" ng-click="openRightMenu()" >
			     	<img src="img/blue_menu_button.png"/>
			     </div>
		   </div>
		
			</div>
			<div class="clear"></div>
			<div class="housing_logo_img">
				<img  src="img/housing_logo.png" height="30px" width="120px"/>
			</div>
		</ion-header-bar>
		<content id="scroll-content-mediem" has-header="true" has-tab="true">
				<div id="main_wrapper">
					  <div class="news_feed_wrapper">
					    <div class="news_feed_top"></div>
					    <div class="submit_main">
					      <form id="submit_form">
					        <input type="text" class="TypeOfMessages" placeholder="Typ av meddelande" id="" name="TypeOfMessages" ng-model="data.type"/>
					        <input type="text" class="Name" placeholder="Namn" id="" name="Name" ng-model="data.name" />
					        <input type="text" class="Email" placeholder="Email" id="" name="Email"  ng-model="data.email"/>
					        <textarea class="YourMessage" id="" name="YourMessage" placeholder="Ditt meddelande" ng-model="data.description"></textarea>
					      </form>
					      <div class="submit_btns">
					        <div class="attach_btn"> <a href=""> <img src="img/attach_btn.png" /> </a> </div>
					        <div class="send_btn" ng-click="submitdata(data)"> <a > <img src="img/send_btn.png" /> </a> </div>
					      </div>
					    </div>
					    <div class="clear"></div>
					  </div>
					  <div class="clear"></div>
			   </div>
		</content>
					<div class="tabs tabs-icon-only footer_bar_bg">
						 <a  class="tab-item  " ng-click="goto('Newsfeed/{{housing_name}}')">
						   <div class="footer_bar_bg">
						   <img src="img/news_icon_unsel.png" style="float: left;margin-left:35px;margin-top:5px">
						   </div>
						  </a >
						  <a class="tab-item  " ng-click='goto("Disclaimer")'>
						   <div class="footer_bar_bg">
						    <img src="img/board_icon_sel.png" style="float: left;margin-left:25px;margin-top:5px">
						    </div>
						  </a>
						  <a class="tab-item  " ng-click='goto("Contact")'>
						   <div class="footer_bar_bg">
						    <img src="img/contact_icon_unsel.png" style="float: left;margin-left:35px;margin-top:5px">
						    </div>
						  </a>
                      </div>
		</pane>

		<!-- menue page start -->
		<side-menu side="right" ng-controller="menuController">
		<ion-header-bar class="bar bar-header-menu bar-gray-menu" >	  			  
		   </ion-header-bar>
			  <div id="main_wrapper">
  <div class="menu_wrapper">
    <div class="news_feed_top"></div>
    <div class="menu_main">
      <div class="menu_top">
        <ul>
          <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_home.png" /> </div>
            <div class="home_text"> Hem </div>
          </li>
          <li ng-click="goto('State')">
            <div class="home_icon"> <img src="img/menu_state.png" /> </div>
            <div class="home_text"> Län </div>
          </li>
          <li ng-click="goto('/Municipality/{{munId}}')">
            <div class="home_icon"> <img src="img/menu_municipality.png" /> </div>
            <div class="home_text"> Kommun </div>
          </li>
          <li ng-click="goto('/Housing/{{housing_id}}')">
            <div class="home_icon"> <img src="img/menu_housing.png" /> </div>
            <div class="home_text"> Bostadsrättsförening </div>
          </li>
           <li ng-click="goto('/Login/{{housing_name}}')">
            <div class="home_icon"> <img src="img/menu_login.png" /> </div>
            <div class="home_text"> Logga In </div>
          </li ng-click="goto('State')"> 
        </ul>
      </div>
      <div class="clear"></div>
      <div class="menu_bottom">
        <ul>
          <li ng-click="goto('Newsfeed/{{housing_name}}')">
            <div class="home_icon"> <img src="img/menu_news.png" /> </div>
            <div class="home_text"> Nyheter </div>
          </li>
          <li ng-click="goto('Contact')">
            <div class="home_icon"> <img src="img/menu_board.png" /> </div>
            <div class="home_text"> Styrelsen </div>
          </li>
          <li ng-click="goto('Contact')">
            <div class="home_icon"> <img src="img/menu_contact.png" /> </div>
            <div class="home_text"> Kontakter </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>	    
		  
		</side-menu>
		<!-- menue page end -->
		
	</side-menus> 
</div>